:root {
    --primary-color: rgb(0, 179, 185);
    --primary-color-hover: rgb(0, 145, 150);
    /* --secondary-color: rgb(54, 54, 54); */
    --secondary-color: #555555;
    --ternary-color: rgb(220, 220, 220);
    --footer: #141414;

}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(20, 20, 20);
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fw-bold {
    font-weight: bold;
}



.text-center {
    text-align: center;
}

.text-secondary {
    color: var(--secondary-color);
}

.text-dark {
    color: black;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.position-relative {
    position: relative;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.vh-100 {
    height: 100vh;
}

.vh-80 {
    height: 80vh;
}


#play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
    z-index: 1;
}

video {
    filter: grayscale()
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--secondary-color);
    font-size: 0.9rem;
}

.active {
    color: var(--primary-color);
    font-weight: bold;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    padding-inline: 0.98rem;
}

header {
    position: absolute;
    width: 100%;

    /* padding-top: 2rem; */
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--secondary-color);
}

h4 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--secondary-color);
}

button {
    font-family: 'Montserrat', sans-serif;
}

span, .text-secondary {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: black;
    /* letter-spacing: 0.1rem; */
}

a {
    cursor: pointer;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.5rem;
}

.ps-3 {
    padding-left: 0.75rem;
}

.ps-5 {
    padding-left: 1.5rem;
}

.pe-4 {
    padding-right: 1.25rem;
}

.pt-5 {
    padding-top: 1.5rem;
}

.pb-5 {
    padding-bottom: 1.5rem;
}


.container {
    margin-left: 15%;
    margin-right: 15%;
    padding-block: 3rem;
}

.container:not(.hero, .nav) {
    padding-block: 5rem;
}

.nav {
    padding-top: 2rem;
}


.section-one {
    background: url("/assets/nordwood-themes-Cli7eZZzfyM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-position-x: right;
}

.container-hero {
    padding-top: 10rem;
}

.signature {
    width: auto;
    height: 5rem;
}


.section-skills {
    background: url("/assets/vanesa-giaconi-n_uGpPRYdfE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-position-x: right;
}

.progress-bar {
    width: 100%;
    height: 3px;
    background: var(--primary-color);
}


.section-info {
    background: var(--primary-color);
}

.btn {
    border: 0;
    border-radius: 0;
    padding-inline: 2rem;
    padding-block: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.icon {
    height: 100%;
    filter: brightness(0) invert(1);
}

.icon-secondary {
    height: 50px;
    filter: brightness(0) invert(0.4);
    margin-bottom: 0.75rem;
}

.bg-tenary .d-flex {
    row-gap: 30px;
}

.bg-tenary .grid-item p {
    padding-inline: 2rem;
}

.project-info {
    width: 100%;
    /* flex: auto; */
}

.project-info .d-flex {
    flex: 1;
}


.grid-item {
    flex: 25%;
    position: relative;
}

.product-img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale()
}

.product-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease-in-out;

}

.grid-item:hover .product-overlay {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.icon-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
    filter: brightness(0) invert(1);
}

.more-work {
    width: 100%;
    border: 0;
    padding-block: 2.5rem;
    /* font-size: 1rem; */
    font-weight: bold;
    cursor: pointer;
}

.mx-20 {
    margin-inline: 20%;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
}

.carousel-control {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--ternary-color);
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-control.active {
    background-color: white;
    width: 15px;
    height: 15px;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 1.5rem;
    line-height: 2rem;
}

.quote-name {
    text-transform: uppercase;
}

.bg-tenary {
    background: var(--ternary-color);
}

.bg-secondary {
    background: var(--secondary-color);
}

.bg-primary {
    background: var(--primary-color);
}

.btn:hover {
    background-color: var(--primary-color-hover);
}

.partner-img {
    width: 100%;
    height: auto;
}

.logo {
    height: 30px;
    transform: rotate(180deg)
}

.align-center {
    align-items: center;
}

.text-white {
    color: white;
}



.input-group {
    display: flex;
    width: 100%;
    gap: 1rem;
}

input, textarea {
    width: 100%;
    border: 0;
    padding: 1rem;
}

input::placeholder, textarea::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.9rem;
}

input:focus-visible, textarea:focus-visible {
    outline-color: var(--primary-color);

}

video {
    aspect-ratio: 16/9;
    width: 100%;
}

.nav {
    padding-left: 2rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 1368px) {
    .container.nav {
        margin: 0;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        margin-inline: 5%;
    }

    .w-50 {
        width: 100%;
    }

    .mx-20 {
        margin-inline: 5%;
    }

    .grid-item {
        flex: 50%;
    }

    .container:not(.hero, .nav) {
        padding-block: 2rem;
    }

    .vh-100 {
        height: 65vh;
    }

    .container-hero {
        padding-top: 9rem;
        text-align: center;
    }
    .section-one {
        background-size: 220%;

    }
    .section-skills {
        background-size: 300%;
        background-position-x: left;
    }
}

@media (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      top: 0;
      padding-block: 2rem;
      left: 0;
      width: 100%;
      background-color: #f8f8f8;
    }
    
    .menu.open {
      display: block;
    }
    
    nav ul {
        display: block;
    }
    .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .menu li {
      margin-bottom: 10px;
    }
    
    .menu a {
      display: block;
      padding: 10px;
      text-decoration: none;

    }
    
    .menu-icon {
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: relative;
      z-index: 1;
    }
    
    .menu-icon span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: black;
      position: absolute;
      left: 0;
    }
    
    .menu-icon span:nth-child(1) {
      top: 0;
    }
    
    .menu-icon span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    
    .menu-icon span:nth-child(3) {
      bottom: 0;
    }
    
    #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(940%) rotate(-45deg);
  }
    #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
      transform: translateY(50%) rotate(45deg);
    }
    
    #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
      opacity: 0;
    }
    
    #menu-toggle:checked ~ .menu-icon {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 2;
    }
    
    #menu-toggle:checked ~ .menu {
      display: flex;
    }
  }
  
  #menu-toggle {
    display: none;
  }

  .bg-footer {
    background: var(--footer);
  }

  .text-ternary {
    color: var(--ternary-color)
  }
